[submodule "LV3-Dash-Test2/Drivers/lvgl"]
	path = LV3-Dash-Test2/Drivers/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "Dashboard/Drivers/lvgl"]
	path = Dashboard/Drivers/lvgl
	url = https://github.com/lvgl/lvgl
